<template name="fish3">
 <div class="voting-body">
    <div id="fish1" class="fish-scale fish-1"><img src="/PNGs/FishElements-11-test.png"></div>
    <div id="fish2" class="fish-scale fish-2"><img src="/PNGs/FishElements-11-test.png"></div>
    <div id="fish3" class="fish-scale fish-3"><img src="/PNGs/FishElements-11-test.png"></div>
    <div id="fish4" class="fish-scale fish-4"><img src="/PNGs/FishElements-06-test.png"></div>
    <div id="fish5" class="fish-scale fish-5"><img src="/PNGs/FishElements-06-test.png"></div>
  </div>
  <div class="fish-lines">
    <div class="guppy-text">GUPPY</div>
    <div class="cool-line"></div>
    <div class="grouper-text">GROUPER</div>
  </div>
  <button id="submit3" class="submit-button-inverse">SUBMIT</button>
</template>