<template name="fish1">
   <div class="voting-body">
      <div class="fish-scale fish-1"><a href="{{pathFor 'fish1'}}"><img src="/fish/FishElements-06.svg"></a></div>
      <div class="fish-scale fish-2"><a href="{{pathFor 'fish2'}}"><img src="/fish/FishElements-07.svg"></a></div>
      <div class="fish-scale fish-3"><a href="{{pathFor 'fish3'}}"><img src="/fish/FishElements-08.svg"></a></div>
      <div class="fish-scale fish-4"><a href="{{pathFor 'fish4'}}"><img src="/fish/FishElements-09.svg"></a></div>
      <div class="fish-scale fish-5"><a href="{{pathFor 'fish5'}}"><img src="/fish/FishElements-10.svg"></a></div>
    </div>
    <div class="fish-lines">
      <div class="guppy-text">GUPPY</div>
      <div class="cool-line"></div>
      <div class="grouper-text">GROUPER</div>
    </div>
    <button class="submit-button">SUBMIT</button>
  </template>