<template name="southSide">
  <div class="graph-layout">
    <table id="graph">
      <!-- <caption>Fish Index</caption> -->
     <!--  <thead>
        <tr class="bar-row" id="">
          <th></th>
        </tr>
      </thead> -->
      <tbody>
        <tr class="bar-row" id="row1">
          <th class="row-label" scope="row"></th>
          <td class="bar sent" style="height: 20%;"></td>
        </tr>
        <tr class="bar-row" id="row2">
          <th class="row-label" scope="row">2</th>
          <td class="bar sent" style="height: 60%;"></td>
        </tr>
        <tr class="bar-row" id="row3">
          <th class="row-label" scope="row"></th>
          <td class="bar sent" style="height: 100%;"></td>
        </tr>
        <tr class="bar-row" id="row4">
          <th class="row-label" scope="row">4</th>
          <td class="bar sent" style="height: 20%;"></td>
        </tr>
        <tr class="bar-row" id="row5">
          <th class="row-label" scope="row"></th>
          <td class="bar sent" style="height: 80%;"></td>
        </tr>
        <tr class="bar-row" id="row6">
          <th class="row-label" scope="row">6</th>
          <td class="bar sent" style="height: 60%;"></td>
        </tr>
        <tr class="bar-row" id="row7">
          <th class="row-label" scope="row"></th>
          <td class="bar sent" style="height: 40%;"></td>
        </tr>
        <tr class="bar-row" id="row8">
          <th class="row-label" scope="row">8</th>
          <td class="bar sent" style="height: 20%;"></td>
        </tr>
        <tr class="bar-row" id="row9">
          <th class="row-label" scope="row"></th>
          <td class="bar sent" style="height: 80%;"></td>
        </tr>
        <tr class="bar-row" id="row10">
          <th class="row-label" scope="row">10</th>
          <td class="bar sent" style="height: 100%;"></td>
        </tr>
      </tbody>
    </table>

    <div id="ticks">
      <div class="tick" style="height: 30px;"><p>5</p></div>
      <div class="tick" style="height: 30px;"><p>4</p></div>
      <div class="tick" style="height: 30px;"><p>3</p></div>
      <div class="tick" style="height: 30px;"><p>2</p></div>
      <div class="tick" style="height: 30px;"><p>1</p></div>
      <div class="tick" style="height: 30px;"><p>0</p></div>
    </div>
  </div>
</template>