/*#CCe0e3  blue*/
/*#7eb6bc  */
/*#F1F0E7  lighter gray brown*/
/*#E2231A  light red*/
/*#A91A17  dark red*/
/*#69696A  gray*/

body {
  background-color: #CCe0e3;
}
.header{
  position: relative;
  height: 10em;
  background-color: #f1f0e7;
  margin: -10px;
}
.nav-fish {
  position: absolute;
  width: 20%;
  left:0;
  top:0;
}
.nav-gear {
  position: absolute;
  width: 20%;
  right:0;
  top:0;
}
.footer-nav {
  width:100%;
  position: absolute;
  bottom: 0;
}
.footer-images {
  width: 33%;
  float: left;
}
.middle-image {
  border-left: 3px solid #7eb6bc;
  border-right: 3px solid #7eb6bc;
}

.home-page {
  min-height: 110em;
  /*min-width: 100%;*/
  background: url('/fish/fish_background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.red-overlay {
  min-height: 110em;
  width: 100%;
  background-color: rgba(226, 35, 26, 0.9);
}
.side-buttons {
  width: 48%;
  float:left;
}
.button-north {
  margin-left: 2%;
}
.button-south {

}
