/*#CCe0e3  blue*/
/*#7eb6bc  */
/*#F1F0E7  lighter gray brown*/
/*#E2231A  light red*/
/*#A91A17  dark red*/
/*#69696A  gray*/

body {
  background-color: #CCe0e3;
  font-size: 16px;
  width: 98%;
  /*white-space: nowrap;*/
  overflow-x: hidden;
  font-family:'Proxima Nova W15', 'Montserrat';
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-weight: bold;*/
}
.header{
  position: relative;
  height: 5em;
  background-color: #f1f0e7;
  margin: -10px;
}
.nav-fish {
  position: absolute;
  width: 20%;
  left:0;
  top:0;
}
.which-side{
  position: absolute;
  /*width: 20%;*/
  left:30%;
  top:0;
  color:#CCE0E3;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
}
.nav-gear {
  position: absolute;
  width: 20%;
  right:0;
  top:0;
}
.footer-nav {
  width:100%;
  position: absolute;
  bottom: 25px;
}
.footer-images {
  width: 33%;
  float: left;
  box-sizing: border-box;
}
.middle-image {
  border-left: 3px solid #7eb6bc;
  border-right: 3px solid #7eb6bc;
}

.home-page {
  min-height: 50em;
  /*min-width: 100%;*/
  background: url('/fish/fish_background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.red-overlay {
  min-height: 50em;
  width: 104%;
  margin-top: -2%;
  margin-left: -2%;

  background-color: rgba(226, 35, 26, 0.9);
}
.side-buttons {
  width: 48%;
  float:left;
}
.button-north {
  margin-left: 2%;
}
.button-south {

}
.voterBlock {
  margin-top: 5em;
}
.voting-body {
  margin-top:15em;
  width: 93%;
  position: relative;
  margin-left: 10%;
}
.voting-body img{
  width: 10em;
  position: absolute;
  bottom: 0;
}
.fish-scale {
  width: 17%;
  float: left;
}

.fish-1 img{
  width: 8%;

  bottom: 0;
  margin-top: 4.1em;
  margin-left: -1.2em;
}
.fish-2 img {
  width: 13%;

  bottom: 0;
  margin-top: 3em;
  margin-left: 5.5%;
}
.fish-3 img {
  width: 18%;

  bottom: 0;
  margin-top: 2em;
  margin-left: 19%;
}
.fish-4 img {
  width: 23%;
  bottom: 0;

  margin-top: 1em;
  margin-left: 36%;
}
.fish-5 img {
  width: 28%;
  bottom: 0;

  margin-left: 58%;
}

.fish-lines {
  font-size: 25px;
  float: left;
  margin-top: 1.2em;
  clear: both;
  /*position: absolute;*/
  width: 100%;
}

.guppy-text {
  width: 20%;
  float: left;
  color: #7eb6bc;
  margin-top: -0.5em;
  margin-right: 1%;
  margin-left: 5%;
  /*position: absolute;*/
  width: 25%;
  left: 3em;
}
.grouper-text {
  float: left;
  width: 20%;
  color: #7eb6bc;
  margin-top: -0.5em;
  margin-left: 3%;
  width: 25%;
  right: 3em;
}
.cool-line {
   float: left;
  /*position: absolute;*/
  width: 24%;
  border-bottom: 3px solid #7eb6bc;
  left: 29%;
}
.submit-button {
  background-color: #CCe0e3;
  color: #7eb6bc;
  border: 2px solid #7eb6bc;
  margin-top: 1em;
  width: 50%;
  margin-left: 25%;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 30px;
}
.submit-button-inverse {
  background-color: #7eb6bc;
  color: #CCe0e3;
  border: 2px solid #7eb6bc;
  margin-top: 1em;
  width: 50%;
  margin-left: 25%;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 30px;
}
.date {
  text-align: center;
  color: #7eb6bc;
  font-size: 25px;
  margin-top: 2em;
}
.fish-image {
  width: 80%;
  margin-left: 10%;
}
#codFish {
  margin-left: 5%;
}
.fish-name {
  color: #7eb6bc;
  text-align: center;
  margin-top: 0;
}
.no-vote-header {
  margin-top: 5em;
}
.no-vote {
  width: 80%;
  margin-left: 10%;
}
